{% extends 'entity/base_index.html.twig' %}


{% block tabEntity %}
    <thead>
        <tr>
            <th>Equipe 1</th>
            <th>Score equipe 1</th>
            <th>Score equipe 2</th>
            <th>Equipe 2</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for match in matchs %}
        <tr>
            <td>{{ match.equipe1.idequipe }}</td>
            <td>{{ match.scoreequipe1 }} </td>
            <td>{{ match.scoreequipe2 }}</td>
            <td>{{ match.equipe2.idequipe }}</td>
            <td>{{ match.date }}</td>
            {% set params = { idEquipe1:match.equipe1.idequipe, idEquipe2:match.equipe2.idequipe, date:match.date } %}
            <td>
                <a class="btn btn-primary" href="{{ path(routes['update'],params) }}" role="button">Modifier</a>
                <a class="btn btn-primary" href="{{path(routes['delete'],params) }}" role="button">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}

{% block actionEntity %}
    <div class="text-center">
        <span class="text-center">Nombre de matchs : {{ sum }}</span>
        <a class="btn btn-primary ml-3 mb-3" href="{{ path(routes['insert']) }}" role="button">Créer un match</a>
    </div>
{% endblock %}